.container-ful{
    background: rgb(190, 201, 211);
    height: 600px;
}
.qus-card{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    height: 300px;
    background-color: blueviolet;
    border-radius: 15px;
}
.qus-header{
    border-bottom: 1px solid rgb(253, 251, 251);
    height: 25%;
    text-align: center;
}
.qus-content{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px;
    gap: 10px;
}
ul li 
{
    width: 49%;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    /* margin: 10px; */
    margin: 20px 0;
    border-radius: 10px;
}
ul li:hover{
    box-shadow: 0 0 10px rgb(170, 170, 170);
    
}