*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.container{
    margin-top: 100px;
    width: 20%;
    margin-left: 40%;
}
.header{
    color: darkslategray;
    display: flex;
    justify-content: center;
}
.fromDesign{
    display: flex;
    justify-content: center;
}
.check{
    display: flex;
    align-items: center;
}
.check>input{
    margin-left: 10px;
}
.btnSave{
    background-color: steelblue;
    color: white;
    padding: 5px 10px;
    border: 1px solid steelblue;
    border-radius: 5px;
    float: right;
}
.btnAdd{
    
    background-color: steelblue;
    color: white;
    padding: 5px 115px;
    border: 1px solid steelblue;
    border-radius: 5px;
}
.task{
    border-bottom: 1px solid rgb(105, 104, 104);
    position: relative;
}
.btnDelete{
    position: absolute;
    top: 10px;
    right: 0;
    color: rgb(250, 53, 53);
    border: 1px solid rgb(250, 53, 53);
    border-radius: 5px;
    padding: 5px 10px;
}

.noTask{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: rgb(187, 170, 20);
}