*{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;

}

.logIn{
    background: url('https://images.pexels.com/photos/6954509/pexels-photo-6954509.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    width: 100%;
    height: 620px;
}
.card{
    position: absolute;
    margin-left: 38%;
    margin-top: 10%;
    background-color: rgba(247, 249, 252,0.7);
    padding: 100px 60px;
    border-radius: 5px;
}
.card:hover{
    box-shadow: 2px 2px 16px rgb(88, 88, 88);
    /* padding: 120px 80px; */
}

.inputDesign{
    width: 250px;
    border-radius: 4px;
    border: 1px solid rgb(95, 95, 95);
    padding: 2px 10px ;
}

.inputDesign:focus-visible{
    border:1px solid #0075ff;
    outline: none;
}

.but-Style{
    color: white;
    background-color: rgb(88, 168, 168);
    border-radius: 10px;
    border: 0ch;
    padding: 5px 10px;
    margin-left: 198px;
    margin-top: 20px;
}
.but-Style:hover{
    box-shadow: 2px 2px 16px rgb(126, 124, 124);
}